[Unit]
Description=Synchronize with Crowbar administration server
After=crowbar_notify_shutdown.service
Before=chef-client.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/crowbar_join --start
ExecStartPost=/usr/bin/echo "crowbar_join --start done"

[Install]
WantedBy=multi-user.target
